/* Variables
--------------------------------*/
$teal: 			#6eecd0; 
$gray-light:		#bbb;
$gray-lighter:		#edeff3;
$blue:			#333e5d;

// usage:
$accent-color:		$teal;
$body-bg-color:		white;
$text-color:		$blue;


/* Base styles
--------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
	background: rgba($accent-color, 0.4); 
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background: $body-bg-color;
	padding-top: 3em;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

pre,
code { 
	background-color: $gray-lighter;
}

pre {
	padding: 2em;
	line-height: 1.625;
	font-size: 1.1em;
	width: 100%;
	tab-size: 4;
	white-space: pre-wrap;
	overflow-x: scroll;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

svg {
	fill: currentColor;
}

.container {
	margin: 0 auto;
	max-width: 60em;
	padding: 0 0.65em;

	@media screen and (min-width: 30em) {
		padding: 0 1em;
	}

	@media screen and (min-width: 110em) {
		max-width: 85em;
	}
}

main {
	margin-bottom: 2em;
}

.screenreader {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
