/* Blogposts
----------------------------------*/
.post-content {
	max-width: 47em;
	margin: 0 auto;
	padding: 1em 0.65em;

	@media screen and (min-width: 30em) {
		padding: 1em;
	}

	@media screen and (min-width: 40em) {
		padding: 4em 1em 2.5em 1em;
	}
	
	p:first-of-type:not(.image-container) {
		font-size: 1.2em;
	}
	
	// post meta
	header {
		font-weight: 600;
		padding: 0 0 0.75em 0;	
		margin: 0 0 2em 0;
		border-bottom: 0.15em solid #eceff3;
		text-transform: capitalize;
		font-family: "robotobold", Arial;

		.date {
			&:after {
				content: "\00B7";
				font-weight: 700;
				margin: 0 0.3em 0 0.5em;
			}
		}
	}
}