/* Page navigation (prev next post)
----------------------------------*/
.page-navigation {
	display: flex;
	flex-direction: row;
	background: #f1f4f8;
	
	// flex the page nav items 
	> span,
	> a {
		flex: 1 1 50%;
		transition: background 0.2s;
		font-weight: 600;
		font-size: 0.9em;
		text-align: center;
		padding: 1.75em 0.5em;

		&:hover,
		&:focus {
			background: rgba(white, 0.7);
			color: lighten($text-color, 4%);
		}
	}
}

.prev-link svg,
.next-link svg {
	transition: margin 0.1s;
}

.prev-link svg {
	margin: -0.1em 0.4em 0 0;
	transform: rotate(-180deg);	
}

.next-link svg {
	margin: -0.1em 0 0 0.4em;
}

.prev-link:hover svg {
	margin-right: 1em;
}

.next-link:hover svg {
	margin-left: 1em;   
}

// page count indicators
.page-count {
	background: white;
	display: inline-block;
	text-align: center;
	line-height: 2;
	width: 2em;
	height: 2em;
	margin: 1.5em 0.4em;
	color: $text-color;
	transition: 0.2s ease-out;
	border-radius: 0.2em;
	
	// style the active indicator
	&.current {
		background-color: $accent-color;
		color: $gray-light;
	}
}

// apply hover-effect only when clickable
a.page-count {
	&:hover,
	&:focus {
		background: white;
		color: $text-color;
		transition: 0.2s;
		border-radius: 50%;
	}
}
